lib/clucene/src/test/data/reuters-21578/LEWIS.DTD

<!-- 23-Jan-97 This is v1.1 of lewis.dtd, a corrected version by Chris Brew  -->
<!ELEMENT LEWIS O O (REUTERS+)>
<!ELEMENT REUTERS - - (DATE,(UNKNOWN|MKNOTE)*,TOPICS,PLACES,PEOPLE,ORGS,EXCHANGES,COMPANIES,UNKNOWN?,TEXT)>
<!ELEMENT HEAD - - (#PCDATA)>
<!ELEMENT DATE - - (#PCDATA)>
<!ELEMENT TOPICS - - (D|#PCDATA)*>
<!ELEMENT PLACES - - (D|#PCDATA)*>
<!ELEMENT PEOPLE - - (D|#PCDATA)*>
<!ELEMENT ORGS - - (D|#PCDATA)*>
<!ELEMENT EXCHANGES - - (D|#PCDATA)*>
<!ELEMENT COMPANIES - - (D|#PCDATA)*>
<!ELEMENT TEXT - - (TITLE|BODY|AUTHOR|DATELINE|#PCDATA)+>
<!ELEMENT TITLE - - ANY>
<!ELEMENT BODY - - ANY>
<!ELEMENT DATELINE - - (#PCDATA)>
<!ELEMENT AUTHOR - - (#PCDATA)>
<!ELEMENT D - - (#PCDATA)>
<!ELEMENT UNKNOWN - - (#PCDATA)>
<!ELEMENT MKNOTE - - (#PCDATA)>

<!ATTLIST REUTERS
			OLDID CDATA #REQUIRED
			NEWID CDATA #REQUIRED
			CSECS CDATA #IMPLIED
			N CDATA "--"
			SET CDATA "XXX"
			CGISPLIT CDATA #REQUIRED
			LEWISSPLIT CDATA #REQUIRED
			TOPICS (YES|NO|BYPASS) YES>

<!ATTLIST TOPICS
		TYPE CDATA "DSET">
<!ATTLIST PLACES
		TYPE CDATA "DSET">
<!ATTLIST PEOPLE
		TYPE CDATA "DSET">
<!ATTLIST EXCHANGES
		TYPE CDATA "DSET">
<!ATTLIST ORGS
		TYPE CDATA "DSET">
<!ATTLIST COMPANIES
		TYPE CDATA "DSET">

<!ATTLIST TEXT 
		TYPE (NORM|BLAH|UNKNOWN|UNPROC|BRIEF) NORM>


<!ENTITY lt CDATA "&#38;lt;">
<!ENTITY amp CDATA "&amp;">



<!-- The following definitions are for downline larkup tokenisation -->

<!ELEMENT W - - (#PCDATA)>
<!ATTLIST W 
		C CDATA "W"
		N CDATA #IMPLIED>


